body {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #62646f;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #353946;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #1e2130;
    /*滚动条阴影*/
    scrollbar-shadow-color: #1e2130;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #1e2130;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #393939;
    border-radius: 25px;
    color: #393939;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #222222;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #393939;
}


/*设置不换行，超长显示省略号*/
*{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}